<!doctype html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./index.css">

  <title>Hug Pet</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand ms-4">
          <img src="../assets/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Hug Pet
        </a>

        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../adote/adote.html">Adote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../login/login.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <section>
      <div class="container-fluid">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.unsplash.com/photo-1510613439354-64547973b449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1 class="display-5">Companheiros para todas as horas</h1>
                <p class="lead">Com um animal de estimação em casa, você nunca mais se sentirá sozinho! Os pets são
                  grandes companheiros para todos os momentos da vida: desde o momento em que você acordar até a hora de
                  dormir, terá alguém com quem contar.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://images.unsplash.com/photo-1506993708131-b0bf29d16b76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1 class="display-5">Eles mantêm você em movimento</h1>
                <p class="lead">Os pets nos colocam em movimento e nos dão mais disposição para a correria do dia a dia.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://images.unsplash.com/photo-1501743029101-21a00d6a3fb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1 class="display-5">Ter um pet faz bem para o coração</h1>
                <p class="lead">Eles contribuem para a saúde do seu coração, prevenindo problemas como infartos e outras
                  condições cardiovasculares.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>


    <section class="caixa-1">
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <img src="../assets/fig1.jpg" class="img-fluid" />
          </div>

          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h1 class="display-6">Hug Pet</h1>
              <p class="lead">
                A ONG Hug Pet é uma rede de apaixonados por pets e que faz e incentiva a adoção. Queremos também,
                conscientizar sobre a posse responsável e ajudar a diminuir o índice de animais abandonados através de
                projetos e ações para melhoria de bem estar de pets em todo o Brasil.
              </p>
              <a href="../login/login.html" class="btn btn-outline-warning">Cadastre-se</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    <section class="caixa-2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h1 class="display-6">Mais sobre a Hug Pet</h1>
              <p class="lead">
                Desde 2007, foram adotados milhares de animais nas ONGs, por meio de parcerias com diversas
                instituições. Nosso propósito é incentivar a adoção de cães e gatos, conscientizar sobre a posse
                responsável e fomentar a cultura de doação em prol do bem estar animal.
              </p>
              <a href="../login/login.html" class="btn btn-outline-warning">Cadastre-se</a>
            </div>

          </div>
          <div class="col-md-6">
            <img src="../assets/fig2.jpg" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>


    <section class="caixa-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="../assets/fig3.svg" class="img-fluid" />
            <figure class="text-center"></figure>
            <h1 class="display-6">Ache seu pet</h1>
            <p class="lead">
              Visite nosso site e na aba <strong>Adote</strong> busque pelo seu futuro bicho de estimação.
            </p>
            </figure>
          </div>
         
          <div class="col-md-3">
            <img src="../assets/fig4.svg" class="img-fluid" />
            <figure class="text-center">
              <h1 class="display-6">Formulário de Interesse</h1>
              <p class="lead">
                Preencha o formulário de interesse que disponibilizamos <strong><a href="#"
                    class="link-warning">aqui</a></strong> que nossos voluntários entrarão em contato com você em até
                48h.
              </p>
            </figure>
          </div>
          
          <div class="col-md-3">
            <img src="../assets/fig5.svg" class="img-fluid" />
            <figure class="text-center">
              <h1 class="display-6">Avaliação da adoção</h1>
              <p class="lead">
                Nossos voluntários irão fazer a análise do cadastro e perfil do adotante vs pet escolhido. Preenchendo
                os requisitos, você recebe a aprovação na hora, quando a entrevista é realizada na ONG pelo voluntário
                ou por telefone/e-mail.
              </p>
            </figure>
          </div>
          <div class="col-md-3">
            <img src="../assets/fig6.svg" class="img-fluid" />
            <figure class="text-center">
              <h1 class="display-6">Adoção Completa</h1>
              <p class="lead">
                Caso seja aprovado, espere o contato. Com tudo certo, você busca seu pet na ONG no dia combinado com o
                voluntário.
              </p>
            </figure>
          </div>
        </div>
      </div>
    </section>
  </main>

  <hr>

  <footer class="mt-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <nav class="navbar navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand">
                <img src="../assets/logo.png" alt="" width="40" height="34" class="d-inline-block align-text-top">
                Hug Pet
              </a>
            </div>
          </nav>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>


</body>

</html>